/* Base styles for all screen sizes */
.swiper {
  width: 100%;
  height: 30vh;
  min-height: 250px;
  max-height: 350px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Larger screens */
@media (min-width: 768px) {
  .swiper {
    height: 35vh;
    min-height: 300px;
    max-height: 400px;
  }

  .swiper-slide img {
    max-height: 35vh;
  }
}

/* Extra large screens */
@media (min-width: 1024px) {
  .swiper {
    height: 40vh;
    min-height: 350px;
    max-height: 450px;
  }

  .swiper-slide img {
    max-height: 40vh;
  }
}
