.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo {
  width: 130vh;
  height: 35vh;
  border-radius: 8px;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .demo {
    width: 40vh;
    height: 15vh;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
